@import 'tailwindcss' important;
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/* https://www.reddit.com/r/tailwindcss/comments/1jvi5ip/how_to_make_dark_mode_easier_in_tailwind_v4/ */
@theme {
	--color-primary: #166534;
	--color-muted: #e5e5e5;
	--color-tertiary: #94a3b8;
	--color-surface: #ffffff;
	--color-accent: #64748b;
	--color-secondary: #dcfce7;
	--color-content: #0f172a;
	--color-background: #f8fafc;
}

.dark {
	--color-primary: #4ade80;
	--color-muted: #334155;
	--color-tertiary: #64748b;
	--color-surface: #1e293b;
	--color-accent: #94a3b8;
	--color-secondary: #064e3b;
	--color-content: #f1f5f9;
	--color-background: #0f172a;
}

html {
	@apply overflow-y-scroll;
}

body {
	@apply bg-background;
}

h1 {
	@apply text-4xl text-black/70;
}

h2 {
	@apply mb-2 text-3xl font-thin text-black/80;
}

h3 {
	@apply mb-2 text-2xl text-black/50;
}

/* Code blocks */
pre {
	@apply my-4 rounded-lg py-6 shadow-xl/20 outline-3 outline-offset-1 outline-accent;
}

/* Multiline code blocks */
code:has(> :nth-child(2)) {
	@apply block px-6 whitespace-pre-wrap;
}

code .highlighted {
	@apply -mx-6 inline-block w-[calc(100%+12*var(--spacing))] bg-[rgba(101,117,133,.3)] px-6;
}

code .diff.add:before {
	@apply text-[#3dd68c] content-['+'];
}

code .diff.remove:before {
	@apply text-[#cb7676] content-['-'];
}

code .diff.remove {
	@apply opacity-70;
}

/* + or - */
code .diff:before {
	@apply absolute left-2.5;
}

/* Relative positioning lets diff + or - work with absolute positioning */
code .diff {
	@apply relative -mx-6 inline-block w-[calc(100%+12*var(--spacing))] px-6;
}

ol {
	@apply list-decimal;
}

ul {
	@apply list-disc;
}

.centered {
	@apply mx-auto max-w-5xl;
}

.blog {
	@apply prose max-w-none;
}

.link {
	@apply rounded-md p-0.5 text-blue-400 underline hover:bg-amber-200;
}

@keyframes scroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -100% 0;
	}
}

.infinite-scroll {
	@apply animate-[scroll_5s_linear_infinite] bg-size-[auto_100%] bg-repeat-x;
}
